# AIRLINE PASSENGER SATISFACTION PREDICTION -PREDICTION

## Data reading and libraries importing

Let's import the necessary libraries

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
# let's read the dataset previosly downloaded

df = pd.read_csv('datasets/train.csv', index_col=0)
pd.set_option('display.max_columns', None)
df.head()

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,1,5,3,5,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,3,1,3,1,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,2,5,5,5,5,4,3,4,4,4,5,0,0.0,satisfied
3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,5,2,2,2,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,3,4,5,5,3,3,4,4,3,3,3,0,0.0,satisfied

## EDA

Checking duplicates

In [21]:
# let's see duplicate passengers
print(f'There are {df.shape[0]} rows and {len(df.id.drop_duplicates())} distinct passengers')

There are 103904 rows and 103904 distinct passengers

Checking missing values

In [36]:
for column in df.columns:
    if df[column].isnull().sum() > 0:
        print(f'Feature: {column} has {df[column].isnull().sum()} missing values')

Feature: Arrival Delay in Minutes has 310 missing values

Missing values imputation

In [65]:
df['Arrival Delay in Minutes'].replace(np.nan, df['Arrival Delay in Minutes'].loc[np.where(df['Arrival Delay in Minutes']>0)].mean(), inplace = True)